@use "colors";
@use "fonts";

:root {
  --primary-color: #{colors.$silverPink};
  --secondary-color: #{colors.$ghostWhite};
}

html {
  font-family: fonts.$raleway;
  font-weight: normal;
  font-size: 100%;
}
