@use "colors";

.card {
  box-sizing: border-box;
  min-width: 400px;
  max-width: 550px;

  border-radius: 3px;
  padding: 20px 30px;
  background-color: colors.$white;
}

.card__quote {
  margin-bottom: 30px;
}
