@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

/* Base */

body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

/* Immutable */

.m0 {
  margin: 0;
}

.mr10 {
  margin-right: 10px;
}

.mr12 {
  margin-right: 12px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb30 {
  margin-bottom: 30px;
}

.push-right {
  margin-left: auto;
}

.vh100 {
  height: 100vh;
}

.flex {
  display: flex;
}

.text-right {
  text-align: right;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Transitions */

.has-color-transition {
  transition: color 2s;
}

.has-background-color-transition {
  transition: background-color 2s;
}

/* Custom */

.default-background-color {
  background-color: #333;
}

.quote {
  width: 450px;
  padding: 40px 50px;

  border-radius: 3px;

  color: #333;
  background-color: #fff;
}

.quote__content-wrapper {
  margin-top: 0;
  text-align: center;
  font-size: 1.8rem;
}

.quote__author {
  font-style: italic;
}

.button {
  height: 30px;

  padding-left: 15px;
  padding-right: 15px;

  border: none;
  border-radius: 3px;

  cursor: pointer;

  color: #fff;
  background-color: #333;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 30px;

  border-radius: 3px;

  outline: none;
  text-decoration: none;

  color: #fff;
  background-color: #333;
}

.button:hover, .icon-button:hover {
  opacity: 0.9;
}

.attribution {
  text-align: center;
  font-size: 0.8rem;

  color: #fff;
}

.attribution__link {
  outline: none;
  text-decoration: none;

  font-weight: 500;

  color: #fff;
}
