.quote {
  margin: 0;
  color: #333;
}

.quote__content {
  margin: 0 0 30px 0;
}

.quote__text {
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
}

.quote__mark {
  margin-right: 12px;
}

.quote__attribution {
  text-align: right;
}

.quote__author {
  font-style: italic;
}
