@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

/* Global */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;

  font-family: Raleway, sans-serif;
  font-weight: 400;
}

/* Block: Button */

.button {
  height: 30px;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
}

.button:hover {
  opacity: 0.9;
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;

  text-decoration: none;
}

button.button {
  border: none;
  padding-left: 15px;
  padding-right: 15px;

  cursor: pointer;

  white-space: nowrap;
}

/* Block: Actions */

.actions {
  margin: 0;
  padding-left: 0;
  list-style-type: none;

  display: flex;
}

.actions__action:not(:last-child) {
  margin-right: 10px;
}

.actions__action:last-child {
  margin-left: auto;
}

/* Block: Attribution */

.attribution {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}

.attribution__link {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}
