@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;

  font-family: Raleway, sans-serif;
  font-weight: 400;
}

.actions {
  margin: 0;
  padding-left: 0;
  list-style-type: none;

  display: flex;
}

.actions__action:nth-child(1),
.actions__action:nth-child(2) {
  margin-right: 10px;
}

.actions__action:nth-child(3) {
  margin-left: auto;
}

.quote {
  margin: 0;
}

.quote__content {
  margin: 0 0 30px 0;
}

.quote__text {
  margin: 0;
  font-size: 1.8rem;
}

.quote__mark {
  margin-right: 12px;
}

.quote__attribution {
  text-align: right;
}

.quote__author {
  font-style: italic;
}

.button {
  height: 30px;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
}

.button:hover {
  opacity: 0.9;
}

.button--link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;

  text-decoration: none;
}

.button--normal {
  border: none;
  padding-left: 15px;
  padding-right: 15px;

  cursor: pointer;

  white-space: nowrap;
}

.attribution {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}

.attribution__link {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}
